.logoo {
  position: absolute;
  top: 23vh;
  left: 72vw;
  width: 25vw;
  
}

.text1 {
  position: absolute;
  top: 20vh;
  left: 31vw;
  font-size:2vw;
}

.text2
{
  position: absolute;
  top: 32vh;
  left: 14vw;
  font-size:8vw;
}

.rec {
  position: absolute;
  top: 544px;
  left: 67px;
  border-radius: 30px;
  width: 250px;
  height: 80px;
}
.laun {
  position: absolute;
  top: 560px;
  left: 105px;
  color: white;
  text-align: left;
  /* display: inline-block; */
  font-size:38px;
  
}
.arrow
{
  position: absolute;
  top:565px;
  left: 245px;
  width: 32px;
  
}
