

.logoo {
  position: absolute;
  top: 23vh;
  left: 72vw;
  width: 25vw;
  
}

.text1 {
  position: absolute;
  top: 20vh;
  left: 31vw;
  font-size:2vw;
}

.text2
{
  position: absolute;
  top: 32vh;
  left: 14vw;
  font-size:8vw;
}

.rec {
  position: absolute;
  top: 72vh;
  left: 4vw;
  border-radius: 30px;
  width: 14vw;
  height: 12vh;
  
}

.rec:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.laun {
  position: absolute;
  top: 74.5vh;
  left: 5.5vw;
  color: white;
  text-align: left;
  /* display: inline-block; */
  font-size:2.5vw;
  
}
.arrow
{
  position: absolute;
  top: 75.5vh;
  left: 15vw;
  width: 2vw;
  
}
