.group
{
    display: flex;
    flex-direction: row;
    
}
.mainfeed {
    display: flex;
    align-items: top;
    justify-content: center;
     
    width: 700px;
    height: fit-content;
    margin: 0 auto; /* Center horizontally using margin auto */
}