.post1
{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    
}
.post1 p{
    padding-top: 10px;
}
.coll1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey;
    width: 700px;
    padding-left: 21px;
}

.content
{
    padding-left: 55px;
    padding-right: 55px;
    max-width: 700px; /* Adjust this value as needed */
    overflow-wrap: break-word; /* Wrap long words */
}

.like
{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.like p {
    padding-left: 6px;
}

